@charset "utf-8";
p#vtip {position: absolute;padding:3px;left:5px; font-size:0.8em;background-color:white;border:1px solid #a6c9e2; -moz-border-radius: 5px; -webkit-border-radius: 5px; z-index:9999;}
p#vtip #vtipArrow {position:absolute;top:10px;left:-11px }

/**
.input {border:1px solid #ccc; padding:3px;margin-right:8px;}
*/


.onShowss{background:url(/resources/script/js/easyvalidate/img/onShow.gif) no-repeat; padding-left:20px; font-size: 12px;line-height:22px;}
.onCorrectss{background:url(/resources/script/js/easyvalidate/img/onCorrect.gif) no-repeat;padding-left:20px;font-size: 12px;line-height:22px; color:green;}
.onErrorss{background:url(/resources/script/js/easyvalidate/img/onError.gif) no-repeat;padding-left:20px;font-size: 12px;line-height:22px; color:red;}
.onFocusss{background:url(/resources/script/js/easyvalidate/img/onFocus.gif) no-repeat; padding-left:20px; font-size: 12px;line-height:22px; color:#007eed;}

